<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}" data-theme="light">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {{ partial "header.html" . }}
  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "theme-toggle-script.html" . }}
  {{- $searchJS := resources.Get "js/search.js" | minify | fingerprint }}
  <script src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}" defer></script>
</body>
</html>
